---
title: 'My Eleventy site'
layout: 'base.njk'
test: 'this is a test'
---

<h2>
  Hello
</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, molestiae!</p>
<ul>
  <li>{{ test }}</li>
  <li>two</li>
  <li>three</li>
</ul>